*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3rem;
}

:root{
    --moderate-violet : hsl(263, 55%, 52%);
    --grayish-blue : hsl(217, 19%, 35%);
    --blackish-blue : hsl(219, 29%, 14%);
    --white : hsl(0, 0%, 100%);
    --light-gray : hsl(0, 0%, 81%);
    --light-grayish-blue : hsl(210, 46%, 95%);
    --font-size : 13px;
    --w-500 : 500;
    --w-600 : 600;
    --gap : 2rem;
}

body{
    background: var(--light-grayish-blue);
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: var(--font-size);
    font-weight: var(--w-500);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
}

.container{
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 850px;
    gap: var(--gap);
    box-sizing: border-box;
}

.col{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--gap);
}

.large{
    flex: 3;
}

.card{
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    background: var(--white);
}

.card-large{
    flex: 2;
}

.card .card-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
    gap: 30px;
}

.card-header .profil{
    border-radius: 50%;
}

.card-body .title{
    line-height: 2rem;
    margin-bottom: 25px;
}

.desc{
    color: black;
    opacity: 50%;
}

.card-body p{
    opacity: 70%;
}

.row{
    flex: 1;
    display: flex;
    gap: var(--gap);
    height: 100%;
}

.bg-violet{
    background: var(--moderate-violet);
    color: var(--white);
}

.bg-grayish-blue{
    background: var(--grayish-blue);
    color: var(--white);
}

.bg-blackish-blue{
    background: var(--blackish-blue);
    color: var(--white);
}

.bg-violet .desc,
.bg-grayish-blue .desc,
.bg-blackish-blue .desc{
    color: var(--white);
}

.special{
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 80% 0;
}

@media screen and (max-width : 1368px){
    .main{
        height: 100%;
    }

    .container{
        display: block;
        height: 100%;
    }

    .col{
        margin-bottom: 2rem;
    }

    .card{
        min-height: 400px;
    }
}

@media screen and (max-width : 1152px){
    .row{
        display: block;
        margin: 0;
    }

    .row .card{
        margin-top: 2rem;
    }
}

